body {
    background-color: var(--main-background);
    margin: 0;
    font-family: Roboto, sans-serif;

    --green-color: rgba(35, 176, 74, 1);
    --main-background: rgba(129, 129, 129, 0.12);
    --main-text: rgba(0, 0, 0, 0.6);
    --main-border: rgba(0, 0, 0, 0.2);
    --secondary-text: #3C3C3C;
    --secondary-border: rgba(33, 33, 33, 0.08);
}

body *{
    /*border: red 1px solid*/
}


/*--------HEADER--------*/

header{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    color: var(--main-text)
}
nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 328px;
}
a{
    text-decoration: none;
    color: var(--main-text);
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
}
.active{
    color: var(--green-color);
    border-bottom: 2px solid var(--green-color);
}

/*----------MAIN-----------*/

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 52px 24px;
    gap: 48px;
}

/*-------MAIN SEARCH-------*/

.search{
    width: 936px;
}

.search-input{
    background: url("qr_code_scanner-24px.svg") no-repeat 98%;
    background-size: 24px;
    height: 56px;
    width: 936px;
    border: var(--main-border) 1px solid;
    border-radius: 4px;
    font-size: 16px;
}
.search-input::placeholder{
    padding-left: 16px;
}

/*---------MAIN ITEMS---------*/

.fav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 925px;
    gap: 16px;
}

.fav-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.fav-icon{
    width: 20px;
    height: 20px;
}

.fav-h{
    font-size: 20px;
    font-weight: normal;
    color: var(--main-text);
    margin: 0;
}

.fav-items{
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 925px;
    box-sizing: border-box;
    background: #fff;
    border: var(--main-border) 1px solid;
    border-radius: 4px;
}

.fav-items > *{
    width: 901px;
}

.fav-items-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    height: 44px;
    gap: 16px;
    padding-left: 68px;
    box-sizing: border-box;
}

.fav-items-title-name{
    margin: 10px 0;
    width: 656px;
    color: var(--main-text);
}

.fav-items-title-status{
    width: 157px;
    color: var(--main-text);
}

.fav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 55px;
    padding-left: 12px;
    box-sizing: border-box;
    border-bottom: var(--main-border) 1px solid;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.25px;

}

.fav-item-logo{
    width: 40px;
    height: 40px;
}

.fav-item-name{
    width: 652px;
}

.fav-item-status{
    width: 97px;
    border: var(--main-border) 1px solid;
    border-radius: 4px;
    color: var(--main-text);
    padding: 4px 8px;
    background: url("data:image/svg+xml,%3Csvg%20height='10px'%20width='10px'%20viewBox='0%200%2016%2016'%20fill='%23b1b1b1'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7.247%2011.14%202.451%205.658C1.885%205.013%202.345%204%203.204%204h9.592a1%201%200%200%201%20.753%201.659l-4.796%205.48a1%201%200%200%201-1.506%200z'/%3E%3C/svg%3E") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 0rem !important;
}

.fav-item-notification {
    width: 24px;
    height: 24px;
}

/*-------ANALYTICS-------*/

.analytics-main{
    margin: 52px auto;
    background: #fff;
    border: var(--main-border) 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    width: 1088px;
}

.analytics-main > * {
    width: 100%;
}

.card-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 74px;
    box-sizing: border-box;
    border-bottom: var(--main-border) 1px solid;
}

.analytics-img{
    width: 40px;
    height: 40px;
    margin: 16px;
}

.analytics-card-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 577px;
}

.analytics-card-name-title{
    font-weight: 400;
    line-height: 20px;
    margin: 14px 0 0 0;
    color: rgba(0, 0, 0, 0.87);
}

.analytics-card-name-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
}

.analytics-card-name-subtitle p{
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-text);
}

.point{
    width: 4px;
    height: 4px;
    margin: 8px;
}

.analytics-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 439px;
    padding-right: 8px;
    box-sizing: border-box;
    gap: 16px;
}

.analytics-action-select{
    width: 97px;
    border: var(--green-color) 1px solid;
    border-radius: 4px;
    color: var(--green-color);
    padding: 4px 8px;
    background: url("data:image/svg+xml,%3Csvg%20height='10px'%20width='10px'%20viewBox='0%200%2016%2016'%20fill='%23b1b1b1'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7.247%2011.14%202.451%205.658C1.885%205.013%202.345%204%203.204%204h9.592a1%201%200%200%201%20.753%201.659l-4.796%205.48a1%201%200%200%201-1.506%200z'/%3E%3C/svg%3E") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 0rem !important;
}

.select-and-action{
    width: 1088px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.select-and-action-select{
    width: 195px;
    height: 40px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    background: url("data:image/svg+xml,%3Csvg%20height='10px'%20width='10px'%20viewBox='0%200%2016%2016'%20fill='%23000000'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M7.247%2011.14%202.451%205.658C1.885%205.013%202.345%204%203.204%204h9.592a1%201%200%200%201%20.753%201.659l-4.796%205.48a1%201%200%200%201-1.506%200z'/%3E%3C/svg%3E") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 0rem !important;
    padding-left: 16px;
    box-sizing: border-box;
}

.select-and-action-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 253px;
    height: 40px;
}

.select-and-action-alarm{
    background: rgba(0, 0, 0, 0);
    border: var(--main-border) 1px solid;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.select-and-action-save{
    background: rgba(0, 0, 0, 0);
    border: var(--main-border) 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 12px 16px;
    gap: 10px;
}

.select-and-action-save-text{
    color: var(--green-color);
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.select-and-action-save-dots{
    width: 4px;
    height: 16px;
    border-left: var(--green-color) 1px solid;
    padding-left: 14px;
}

.date-time{
    height: 56px;
    padding: 8px 16px;
}

.date-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 400px;
}

.date-input{
    width: 180px;
    height: 40px;
    border: var(--main-border) 1px solid;
    padding: 10px 8px;
    box-sizing: border-box;
    color: var(--secondary-text);
}

.date-img{
    width: 16px;
    height: 16px;
    margin: 12px 10px;
}

.time-chips{
    height: 60px;
    padding: 8px 16px 20px 16px;
    box-sizing: border-box;
}

.chips{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.chip-item{
    height: 32px;
    border-radius: 16px;
    background: var(--secondary-border);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chip-text{
    font-size: 14px;
    line-height: 20px;
    color: var(--main-text);
    margin: 6px 12px;
}

.active-chip{
    background: #C2E7C8;
}

.table{
    height: 319px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.38);
}

.table-container{
    width: 1056px;
    border-collapse: collapse;
    height: 100%;
}
tr, th, td{
    padding: 0;
    margin: 0;
}

table p{
    margin: 0;
    padding: 0;
}

tr{
    border-bottom: var(--secondary-border) 1px solid;
}

td{
    padding: 12px;
    box-sizing: border-box;
}

.table-title{
    height: 45px;
}

.table-head-title{
    padding: 12px;
    margin: 0;
    text-align: left;
}

.table-row{
    height: 125px;
    vertical-align: top;
    color: var(--main-text);
}

.table-date{
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.38);
    font-weight: 400;
    width: 160px;
}

.table-work-type{
    width: 130px;
}

.table-work-status{
    color: var(--green-color);
}

.table-work{
    width: 486px;
}

.table-res{
    width: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.table-res-text{
    width: 102px;
    height: 100px;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-res-img{
    width: 20px;
    height: 20px;
}

.table-user{
    color: #2E9BC2;
}

/*---------ERROR---------*/

.error-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.error-container{
    display: flex;
    flex-direction: column;
}

.error-img{
    align-self: center;
}

.error-button{
    border: 2px solid var(--green-color);
}

.error-button:hover{
    color: #fff;
    background: var(--green-color);
    border: 2px solid rgba(0,0,0,0);
}